@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/*scrollbar*/

body {
  --sb-track-color: #1d2427;
  --sb-thumb-color: #db4146;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/*lang select*/

.language-switcher {
   margin-top: 10px;
}

#languageSelect {
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f2f2f2;
   font-size: 14px;
   cursor: pointer;
}

.flag-icon {
   width: 20px;
   margin-right: 5px;
}

/* Typography */

body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 200;
}

.h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

/* General */

.text-muted { 
    color: #bcbcbc;
}

.bg-dark { 
    background-color: #212934;
}

.bg-light { 
    background-color: #e9eef5;
}

.btn-success {
    background-color: #db4146;
    border-color: #db4146;
}

.pagination .page-link:hover {
    color: #000;
}

.pagination .page-link:hover, .pagination .page-link.active {
    background-color: #db4146;
    color: #fff;
}

/* Nav */

.nav{
    margin-left: 21.5rem;
}

#nav_top { 
    min-height: 40px;
}

#nav_top * { 
    font-size: .9em;
}

.navbar-brand img{
    max-width: 10rem;
    max-height: 2rem;
}

.btn-n {
    margin-top: 10px;
}

.wtl-btn{
    float: right;
}

.btn-n a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link {
    color: #fff;
}

.link:hover {
    color: #c4c3ca;
    text-decoration: none;
}
.text-decoration-none{
    color: white;
}

h4 {
    font-weight: 600;
}

h6 span{
    padding: 0 20px;
    font-weight: 700;
}

.full-height{
    min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    display: none;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #db4146;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    background-color: #020305;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}

.mb-4.pb-3, .my-3.py-3{
  color: #fff;
}

.form-group select {
  padding: 10px;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
}

.form-group select:focus {
    outline: none;
    border-color: #db4146;
    box-shadow: 0 0 0 2px rgba(89, 171, 110, 0.2);
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out; 
}

.card-front, .card-back {
    width: 100%;
    height: 28rem;
    background-color: #2b2e38;
    position: absolute;
    border-radius: 6px;
    -webkit-transform-style: preserve-3d;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

.form-group{ 
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #db4146;
    transition: all 200ms linear;
}

.btn.mt-2{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    background-color: #db4146;
    color: #fff;
}

.btn.mt-2:hover{  
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 24px 36px .5px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.form-group.mt-2 .material-icons-outlined.eye-icon {
    height: 100%;
    display: flex;
    align-items: center;
    color: #db4146;
    cursor: pointer;
}

.material-icons-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    position: absolute;
    top: 0%;
    right: 4%;
}

/* Footer */

.footer-img {
  max-width: 8rem;
}

#footer {
  background-color: #212934;
  color: #ffffff;
}

#footer .text-decoration-none:hover {
  color: #db4146;
}
