@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/*lang select*/

.language-switcher {
  margin-top: 10px;
}

#languageSelect {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
}

.flag-icon {
  width: 20px;
  margin-right: 5px;
}

/* Typography */

body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  --sb-track-color: #1d2427;
  --sb-thumb-color: #db4146;
  --sb-size: 10px;
}

.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 200;
}

.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

/* General */

.text-warning {
  color: #ede861;
}

.text-muted { 
  color: #bcbcbc;
}

.h1{
  font-weight: bold;
  text-transform: uppercase;
}

.text-light {
  color: #cfd6e1;
}

.bg-dark { 
  background-color: #212934;
}

.bg-light { 
  background-color: #e9eef5;
}

.bg-black { 
  background-color: #1d242d;
}

.pagination .page-link:hover {
  color: #000;
}

.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #d2232a;
  color: #fff;
}

legend {
  font-size: 1rem;
  margin: 0rem 1rem 0rem 1rem;
}

/*scrollbar*/

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/* Header Section */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.fas.fa-chevron-left:before, .fas.fa-chevron-right::before {
  font-size: 35px;
}

.image-container {
  position: relative;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-overlay ul {
  padding: 0;
  margin: 0;
}

.image-container:hover .product-overlay {
  opacity: 1;
}                     

.footer.text-decoration-none{
  color: white;
}

.user-profile-pic {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

/* The links in the sidebar menu */

#mySidenav a {
  text-decoration: none;
}

.sidenav a {
  padding: 10px 15px;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#cat_hd{
  padding: 10px 15px;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

#cat_hd:hover {
  color: #f1f1f1;
}

.sub-menu {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}

.sub-menu ul {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
}

.sub-menu button {
  padding-left: 52px;
}

.sub-menu button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 24px;
  translate: 0 -50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

/* Nav */

.nav {
  margin-left: 21.5rem;
}

#nav_top * {
  font-size: 0.9em;
}

#main_nav a {
  color: #212934;
}

#main_nav .navbar .nav-icon {
  margin: 1rem;
}

.input-group{
  margin-right: 10rem;
}

.navbar-brand img {
  max-width: 10rem;
  max-height: 2rem;
}

.dropdown-hover:hover .nav-item.dropdown.dropdown-hover .dropdown-menu {
  display: block;
}

.nav-item.dropdown.dropdown-hover .dropdown-menu, .dropdown-menu.dropdown-menu-end.show{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(224 224 224 / 75%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  transition: 0.3s ease-in-out;
}

.navbar.align-self-center.d-flex {
  float: right;
}

.advanced-search {
  display: none;
}

.input-group-text {
  cursor: pointer;
}

.advanced-search {
  display: none;
}

.advanced-search .input-group {
  display: flex;
  margin-bottom: 10px;
}

#inputPric .input-group-text {
  cursor: text;
}

.advanced-search .input-group-text {
  min-width: 40px;
  text-align: center;
}

.carousel-control-prev.text-decoration-none.w-auto.ps-3, .carousel-control-next.text-decoration-none.w-auto.pe-3{
  color: #d2232a;
}

.position-absolute.left-33.translate-middle.badge.rounded-pill {
  color: #5F4987;
  left: 30px;
}

.position-absolute.top-0.left-100.translate-middle.badge.rounded-pill.bg-light {
  color: #5F4987;
}

.navbar-toggler .bi {
  font-size: 24px;
}

.under-text h1{
  min-width: 30rem;
}

#slide-carousel .btn-n{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fw-bold{
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.7s ease;
  background: linear-gradient(to right, #d2232a 50%, #000 50%);
  background-size: 200% 100%;
  text-align: center;
  margin-top: auto;
  cursor: pointer;
}

.fw-bold:hover{
  background-position: right;
}

.fw-bold {
  color: #fff;
  text-decoration: none;
}

.navbar-toggler-icon {
  cursor: pointer;
}

.row-img .rounded-circle{
  width: 20rem;
  height: 20rem;
}

.card.h-100{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.h-100.py-5.services-icon-wap.shadow.bg-white{
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.h-100.py-5.services-icon-wap.shadow.bg-white:hover{
  transform: translateY(-5px);
}

.card.h-100:hover{
  transform: translateY(-5px);
}

.flag-icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.dropdown-item img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.btn-secondary {
  display: flex;
  align-items: center;
}

.btn-secondary img {
  margin-right: 10px;
}

.first-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floating-alert {
  position: fixed;
  font-weight: bold;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 600px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

.close{
  background-color: transparent;
  border: 0px;
}

/* Banner Hero Section*/

.card.mb-3{
  background-color: transparent;
  border: 0px;
}

.col-lg-12.pt-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mx-auto.col-md-8.col-lg-6.order-lg-last {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*favorites*/

.message{
  align-items: center;
  justify-content: center;
  min-height: 55vh;
}

.nav-icon {
  color: #000;
  font-size: 1.5rem;
  margin: 1rem;
  position: relative;
}

/*new-product*/

h1 {
  text-align: center;
  color: #333;
}

.form-product {
  width: 30rem;
  max-width: 500px;
  margin: 2rem;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form{
  justify-content: center;
  align-items: center;
  display: flex;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.form-control {
  appearance: auto;
  -webkit-appearance: auto;
}


input[type="submit"] {
  background-color: #d2232a;
  color: #fff;
  border: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.card-img-top {
  width: 100%;
  height: 15rem;
}

.ordering-options {
  margin-top: 10px;
}

.ordering-options label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.ordering-options input[type="radio"] {
  margin-right: 10px;
}

/*dashboard-user*/

.container-fluid.pb-5, .main-products-page.pt-5{
  background-image: linear-gradient(
    158deg,
    rgba(84, 84, 84, 0.03) 0%,
    rgba(84, 84, 84, 0.03) 20%,
    rgba(219, 219, 219, 0.03) 20%,
    rgba(219, 219, 219, 0.03) 40%,
    rgba(54, 54, 54, 0.03) 40%,
    rgba(54, 54, 54, 0.03) 60%,
    rgba(99, 99, 99, 0.03) 60%,
    rgba(99, 99, 99, 0.03) 80%,
    rgba(92, 92, 92, 0.03) 80%,
    rgba(92, 92, 92, 0.03) 100%
  ),
  linear-gradient(
    45deg,
    rgba(221, 221, 221, 0.02) 0%,
    rgba(221, 221, 221, 0.02) 14.286%,
    rgba(8, 8, 8, 0.02) 14.286%,
    rgba(8, 8, 8, 0.02) 28.572%,
    rgba(52, 52, 52, 0.02) 28.572%,
    rgba(52, 52, 52, 0.02) 42.858%,
    rgba(234, 234, 234, 0.02) 42.858%,
    rgba(234, 234, 234, 0.02) 57.144%,
    rgba(81, 81, 81, 0.02) 57.144%,
    rgba(81, 81, 81, 0.02) 71.42999999999999%,
    rgba(239, 239, 239, 0.02) 71.43%,
    rgba(239, 239, 239, 0.02) 85.71600000000001%,
    rgba(187, 187, 187, 0.02) 85.716%,
    rgba(187, 187, 187, 0.02) 100.002%
  ),
  linear-gradient(
    109deg,
    rgba(33, 33, 33, 0.03) 0%,
    rgba(33, 33, 33, 0.03) 12.5%,
    rgba(147, 147, 147, 0.03) 12.5%,
    rgba(147, 147, 147, 0.03) 25%,
    rgba(131, 131, 131, 0.03) 25%,
    rgba(131, 131, 131, 0.03) 37.5%,
    rgba(151, 151, 151, 0.03) 37.5%,
    rgba(151, 151, 151, 0.03) 50%,
    rgba(211, 211, 211, 0.03) 50%,
    rgba(211, 211, 211, 0.03) 62.5%,
    rgba(39, 39, 39, 0.03) 62.5%,
    rgba(39, 39, 39, 0.03) 75%,
    rgba(55, 55, 55, 0.03) 75%,
    rgba(55, 55, 55, 0.03) 87.5%,
    rgba(82, 82, 82, 0.03) 87.5%,
    rgba(82, 82, 82, 0.03) 100%
  ),
  linear-gradient(
    348deg,
    rgba(42, 42, 42, 0.02) 0%,
    rgba(42, 42, 42, 0.02) 20%,
    rgba(8, 8, 8, 0.02) 20%,
    rgba(8, 8, 8, 0.02) 40%,
    rgba(242, 242, 242, 0.02) 40%,
    rgba(242, 242, 242, 0.02) 60%,
    rgba(42, 42, 42, 0.02) 60%,
    rgba(42, 42, 42, 0.02) 80%,
    rgba(80, 80, 80, 0.02) 80%,
    rgba(80, 80, 80, 0.02) 100%
  ),
  linear-gradient(
    120deg,
    rgba(106, 106, 106, 0.03) 0%,
    rgba(106, 106, 106, 0.03) 14.286%,
    rgba(67, 67, 67, 0.03) 14.286%,
    rgba(67, 67, 67, 0.03) 28.572%,
    rgba(134, 134, 134, 0.03) 28.572%,
    rgba(134, 134, 134, 0.03) 42.858%,
    rgba(19, 19, 19, 0.03) 42.858%,
    rgba(19, 19, 19, 0.03) 57.144%,
    rgba(101, 101, 101, 0.03) 57.144%,
    rgba(101, 101, 101, 0.03) 71.42999999999999%,
    rgba(205, 205, 205, 0.03) 71.43%,
    rgba(205, 205, 205, 0.03) 85.71600000000001%,
    rgba(53, 53, 53, 0.03) 85.716%,
    rgba(53, 53, 53, 0.03) 100.002%
  ),
  linear-gradient(
    45deg,
    rgba(214, 214, 214, 0.03) 0%,
    rgba(214, 214, 214, 0.03) 16.667%,
    rgba(255, 255, 255, 0.03) 16.667%,
    rgba(255, 255, 255, 0.03) 33.334%,
    rgba(250, 250, 250, 0.03) 33.334%,
    rgba(250, 250, 250, 0.03) 50.001000000000005%,
    rgba(231, 231, 231, 0.03) 50.001%,
    rgba(231, 231, 231, 0.03) 66.668%,
    rgba(241, 241, 241, 0.03) 66.668%,
    rgba(241, 241, 241, 0.03) 83.33500000000001%,
    rgba(31, 31, 31, 0.03) 83.335%,
    rgba(31, 31, 31, 0.03) 100.002%
  ),
  linear-gradient(
    59deg,
    rgba(224, 224, 224, 0.03) 0%,
    rgba(224, 224, 224, 0.03) 12.5%,
    rgba(97, 97, 97, 0.03) 12.5%,
    rgba(97, 97, 97, 0.03) 25%,
    rgba(143, 143, 143, 0.03) 25%,
    rgba(143, 143, 143, 0.03) 37.5%,
    rgba(110, 110, 110, 0.03) 37.5%,
    rgba(110, 110, 110, 0.03) 50%,
    rgba(34, 34, 34, 0.03) 50%,
    rgba(34, 34, 34, 0.03) 62.5%,
    rgba(155, 155, 155, 0.03) 62.5%,
    rgba(155, 155, 155, 0.03) 75%,
    rgba(249, 249, 249, 0.03) 75%,
    rgba(249, 249, 249, 0.03) 87.5%,
    rgba(179, 179, 179, 0.03) 87.5%,
    rgba(179, 179, 179, 0.03) 100%
  ),
  linear-gradient(
    241deg,
    rgba(58, 58, 58, 0.02) 0%,
    rgba(58, 58, 58, 0.02) 25%,
    rgba(124, 124, 124, 0.02) 25%,
    rgba(124, 124, 124, 0.02) 50%,
    rgba(254, 254, 254, 0.02) 50%,
    rgba(254, 254, 254, 0.02) 75%,
    rgba(52, 52, 52, 0.02) 75%,
    rgba(52, 52, 52, 0.02) 100%
  ),
  linear-gradient(90deg, #ffffff, #ffffff);
  padding: 2rem;
}

input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input--style-4 {
  line-height: 50px;
  background: #fafafa;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: all 0.4s ease;
}

.label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #999;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.card {
  border-radius: 3px;
  background: #fff;
}

.card-4 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}


/*profile page*/

.card-body{
  display: flex;
  flex-direction: column;
}

.card-text{
  font-weight: bold;
  line-height: 2;
  text-align: left;
  width: 100%;
}

.rounded-circle.m-4 {
  height: 15rem;
  width: 15rem;
}

.bi.bi-plus-circle-dotted {
  font-size: 4rem;
  transition: 0.3s ease-in-out;
  color: #d2232a;
}

.bi.bi-plus-circle-dotted:hover {
  color: #0056b3;
}

.plus-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 20px;
}

.product-card {
  background-color: #1f1f1f;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin: 2rem;
}

.product-card.col-md-3{
  height: auto;
}

.product-profile.col-lg-12.d-flex .row{
  --bs-gutter-x: 0rem;
}


.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 15rem;
  display: block;
  border-radius: 20px 20px 0 0;
}

.product-info {
  padding: 20px;
  color:white;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.star {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.star svg {
  fill: none;
  width: 100%;
  height: 100%;
  stroke: none;
  fill: gray;
}

.selected svg,
.selected ~ .star svg {
  fill: #ffc107;
}

.star:hover svg,
.star:hover ~ .star svg {
  fill: gold;
}

.rating-btn.my-3 {
  background-color: #d2232a;
  border: none;
  color: white;
  padding: 15px 20px;
  transition: background-color 0.3s ease;
}

.rating-btn.my-3:hover{
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.bi.bi-patch-check-fill{
  display: flex;
  justify-content: flex-end;
  color: #d2232a;
}

/*social media icons*/

.social-media {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.link {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.6s all ease-in-out;
}

.link svg {
  width: 30px;
  height: 30px;
}

.link svg path,
.link svg circle {
  transition: 0.3s all ease-in-out;
}

.link span {
  position: absolute;
  color: #fff;
  transform: translateY(0px);
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0s;
}

.link span::before {
  position: absolute;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.link.facebook span {
  background-color: #3b5998;
}

.link.facebook span::before {
  border-top-color: #3b5998;
}

.link.twitter{
  color: #000;
}

.link.twitter span {
  background-color: #000;
}

.link.twitter span::before {
  border-top-color: #000;
}

.link.linkedin span {
  background-color: #0077b5; 
}

.link.linkedin span::before {
  border-top-color: #0077b5; 
}

.link.instagram span {
  background-color: #c32aa3; 
}

.link.instagram span::before {
  border-top-color: #c32aa3; 
}

.link.active,
.lin5:hover {
  box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5);
}

.link.facebook:hover {
  background-color: #3b5998;
}

.link.twitter:hover {
  background-color: #000;
}

.link.linkedin:hover {
  background-color: #0077b5;
}

.link.instagram.active,
.link.instagram:hover {
  background-color: #c32aa3;
}

.link.active span,
a:hover span {
  transform: translateY(-80px);
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

.link.active svg path,
.link.active svg circle,
a:hover svg path,
a:hover svg circle {
    fill: #fff;
}

/*checkbox in edit-product.php*/

.checkbox-btn {
  display: flex;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-btn label {
  cursor: pointer;
  font-size: 14px;
}

.checkmark {
  height: 25px;
  width: 25px;
  border: 2.5px solid;
  transition: .2s linear;
}

.checkbox-btn input:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  width: 10px;
  height: 14px;
  border: 2px solid #0ea021;
  filter: drop-shadow(0px 0px 10px #0ea021);
  border-width: 0 2.5px 2.5px 0;
  transition: .2s linear;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

.checkbox-btn input:checked ~ .checkmark:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  animation: pulse 1s ease-in;
}

.checkbox-btn input:checked ~ .checkmark {
  transform: rotate(45deg);
  border: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}

/* Product */

.col-sm-2{
  display: flex;
  justify-content: unset;
  align-items: center;
}

.py-4.bg-white{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.py-4.bg-white:hover{
  transform: translateY(-5px);
}

.modal-body {
  max-height: calc(100vh - 200px);
}

.carousel-item{
  transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.row.pb-3{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.name {
  font-size: 22px;
  font-weight: bold
}

#submit-report{
  padding: 0.6rem;
  border-radius: 4px;
  width: 10rem;
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.join {
  font-size: 14px;
  font-weight: bold
}

.date {
  background-color: #ccc
}    

.bi.bi-star-fill{
  color: gold;
}

.profile-picture {
  width: 15rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.product-title.mx-5.mb-5 {
  font-size: 36px;
  font-weight: bold;
  color: #d2232a;
  margin-top: 0px;
}

.card.product-card {
  margin: 0px;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.product-price {
  color: #FF5733;
  margin-bottom: 20px;
}

.col-md-4.seller-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-md-4.social-media{
  margin: 1rem;
}

.btn-gradient {
  background-color: #d2232a; 
  border: none;
  color: white;
  width: 13rem;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-gradient:hover {
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.contain {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
}

#favorite {
  display: none;
}

#favorite:checked + .contain svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
}

@keyframes heartButton {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

#favorite + .contain .action {
  position: relative;
  overflow: hidden;
  display: grid;
}

#favorite + .contain .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all 0.5s;
}

#favorite + .contain .action span.option-1 {
  transform: translate(0px, 0%);
  opacity: 1;
}

#favorite:checked + .contain .action span.option-1 {
  transform: translate(0px, -100%);
  opacity: 0;
}

#favorite + .contain .action span.option-2 {
  transform: translate(0px, 100%);
  opacity: 0;
}

#favorite:checked + .contain .action span.option-2 {
  transform: translate(0px, 0%);
  opacity: 1;
}


.category-title, .color-title {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.product-wap {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.product-wap .product-color-dot.color-dot-red {
  background: #f71515;
}

.product-wap .product-color-dot.color-dot-blue {
  background: #6db4fe;
}

.product-wap .product-color-dot.color-dot-black {
  background: #000000;
}

.product-wap .product-color-dot.color-dot-light {
  background: #e0e0e0;
}

.product-wap .product-color-dot.color-dot-green {
  background: #0bff7e;
}

.carousel-control-next, .carousel-control-prev{
  color: #d2232a;
}

.img-fluid {
  min-width: 10rem;
  height: 12rem;
}

.modal-content{
  background-color: transparent;
  border: 0px;
  width: auto;
}

.img-fluid.product-image{
  height: 10rem;
  cursor: pointer;
}

.modal.fade{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}


.img-thumbnail.additional-image{
  height: 10rem;
  background-color: transparent;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
}

.modal.show .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-block{
  width: 25rem;
  border-radius: 10px;
  max-height: 34rem;
}

.card.product-wap .card .product-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}

.card.product-wap:hover .card .product-overlay {
  opacity: 1;
}

.card.product-wap .card .product-overlay .icon {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.card.product-wap .card:hover .product-overlay .icon {
  font-size: 50px;
}

.card.product-wap .card .product-overlay .cart {
  background: #000000;
  color: #fff;
  padding: 10px 15px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  opacity: 0;
  transition: all 0.3s ease;
}

.card.product-wap:hover .card .product-overlay .cart {
  bottom: 20px;
  opacity: 1;
}

.card.product-wap .card .card-footer {
  background-color: #fff !important;
  border-top: none !important;
  text-align: center;
  padding: 10px 20px;
}

.product-name {
  font-size: 20px;
  color: #212121;
}

.product-wap .btn-add-to-cart {
  background-color: #000000;
  color: #ffffff;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

.product-wap .btn-add-to-cart:hover {
  background-color: #5f5f5f;
}

.product-wap .product-price {
  color: #f71515;
  font-size: 24px;
  font-weight: 500;
}

.btn-product{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-gradient, .btn_ {
  margin: 1rem;
}

.btn_ {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  --color: #dc3545;
  width: 14rem;
  height: 2.5rem;
  line-height: 2rem;
  position: relative;
  overflow: hidden;
  border: 2px solid #dc3545;
  transition: color .5s;
  z-index: 1;
  border-radius: 6px;
  font-weight: 500;
}
 
.btn_:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #dc3545;
  height: 150px;
  width: 280px;
  border-radius: 50%;
}
 
.btn_:hover {
  color: #fff;
}
 
.btn_:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}
 
.btn_:hover:before {
  top: -30px;
  left: -30px;
}
 
.btn_:active:before {
  background: #dc3545;
  transition: background 0s;
}

#reportModal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content.report {
  background-color: #343a40;
  color: #ffffff;
}

.modal-header.report {
  border-bottom: none;
}

.modal-title.report {
  color: #ffffff;
}

.modal-body.report {
  padding: 20px;
}

#submit-report {
  background-color: #dc3545;
  color: #ffffff;
  border-color: #dc3545;
}

#submit-report:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/*history*/

.status-indicator, .sponsorship-indicator {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 5px;
}

.status-indicator {
  background-color: #ff6b6b;
  color: white;
  right: 5px;
}

.sponsorship-indicator {
  background-color: #5F4987;
  color: white;
  left: 5px;
}

.filter-form {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-form input[type="date"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-form button {
  background-color: #5F4987;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.filter-form button:hover {
  background-color: #0056b3;
}

/*profile setting */

.nav.ms-0{
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 7px;
  width: 10rem;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-links{
  background-color: white;
  border: 1px solid #dee2e6;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}

.radio-inputs {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
  margin-bottom: 0px;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

/*notifications*/

.notification, .command, .interest {
  background: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.notification:hover, .command:hover, .interest:hover {
  background: #d1e7dd;
}

.notification p, .command p, .interest p {
  margin: 5px 0;
}

.hidden {
  display: none;
}

.clear-notification {
  color: #dc3545;
  text-decoration: none;
}

.clear-notification:hover {
  color: #c82333;
}

.command-display{
  text-decoration: none;
  color: #000;
}

.clear-notification{
  float: right;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
}

/* profile_products*/

.btn_delete {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px .2px #00000035;
  box-shadow: 1px 1px 5px .2px #00000035;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  transition-delay: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.btn_delete:hover {
  width: 150px;
  transition-delay: .2s;
}

.btn_delete:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.btn_delete:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

.btn_delete:hover > .icon-wrapper .icon path {
  stroke: black;
}

.paragraph {
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  margin-right: 20px;
  padding-left: 20px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(.9);
  transition: .2s linear;
}

.icon path {
  stroke: #000;
  stroke-width: 2px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

/*Command-details*/

.receipt {
  width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
}

.receipt h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.receipt h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.receipt p {
  font-size: 14px;
  margin: 5px 0;
}

.receipt hr {
  border: 1px dashed #000;
  margin: 20px 0;
}

.receipt-section {
  margin-bottom: 20px;
}

/*subscription page*/

.pack-container {
  position: relative;
  display: flex;
  max-width: 350px;
  flex-direction: column;
  border-radius: 12px;
  background-color: #212121;
  border: 1px solid #fff;
  padding: 1.6rem;
  color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.title {
  display: block;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #fff
}

.price-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-family: sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}

.price-container span:first-child {
  margin-top: 10px;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.price-container span:last-child {
  align-self: flex-end;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  display: flex;
  gap: 10px;
}

.list span {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(255, 255, 255, 0.185);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list span svg {
  height: 12px;
  width: 12px;
}

.list p {
  display: block;
  font-family: sans-serif;
}

.button-container {
  margin-top: 20px;
  padding: 0;
}

.button-container button {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #000;
  outline: 0;
  border: 0;
  border-radius: 10px;
  transition: 0.3s;
}   

.button-container button:hover {
  opacity: 0.6;            
}

/* Footer */

.footer-img {
  max-width: 8rem;
}

#footer {
  background-color: #212934;
  color: #ffffff;
}

#footer .text-decoration-none:hover {
  color: #d2232a;
}

/* Responsive */

@media (max-width: 992px) {  
  .nav-item.dropdown.dropdown-hover,#nav_top, .btn.nav-link{
    display: none;
  }

  .navbar.align-self-center.d-flex {
    margin-left: 0%;
  }
  
  .under-text h1 {
    min-width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu.dropdown-menu-end.show{
    overflow: visible;
  }

  .navbar.align-self-center.d-flex form{
    width: 100%;
  }

  .btn-product{
    display: flex;
    flex-direction: column;
  }

  .btn-gradient{
    width: 100%;
  }

  .image .btn-gradient{
    width: 50%;
  }  

  .btn.btn-gradient{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .product-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-details {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-card {
    width: 100%;
    margin-left: 0px;
  }

  .products {
    flex-direction: column;
  }

  .row.py-4 {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row-img {
    text-align: center;
  }

  .col-lg-12.pt-5{
    display: block;
  }

  .col-sm-2 {
    justify-content: center;
  }

  .seller-info .row{
    justify-content: center;
  }

  .col-sm-8 {
    text-align: center;
  }

  .p-5 {
    padding: 2rem;
  }

  img.rounded-circle {
    width: 60%;
  }

  .card.h-100{
    border-radius: 8px;
  }

  .img-fluid {
    min-width: 0rem;
    height: 12rem;
  }

  .product-profile {
    display: flex;
    margin-top: 1.5rem;
  }

  .col-md-4.mb-4 {
    margin-bottom: 4.5rem;
  }

  #main_nav .navbar .nav-icon {
    margin: 1rem;
  }

  .social-media{
    width: 290px;
    margin: 30px 0px;
  }
  .nav.ms-0.me-5{
    display: none;
  }
}